body {
    background-color: lightblue;
    position: fixed;
    width: 200vw;
    height: 150vh;

}

div {
    color: navy;
    /*margin-left: 20px;*/
}

.login{
    visibility: visible;/*visiblr by default*/
}

.joinTable{
    visibility: hidden;/*hidden by default*/
}

.theTable{
   
    margin-left: 18vw;
    top: 15vh;
    position: absolute;
    visibility:hidden;/*hidden by default*/
    
}

#seat1{
    margin-left: -10vw;
    top: 20vh;
    position:absolute;
}
#seat2{
    margin-left: 0vw;
    top: -4vh;
    position:absolute;
}
#seat3{
    margin-left: 25vw;
    top: -12vh;
    position:absolute;
}
#seat4{
    margin-left: 50vw;
    top: -4vh;
    position:absolute;
}
#seat5{
    margin-left: 60vw;
    top: 20vh;
    position:absolute;
}
#seat6{
    margin-left: 27vw;
    top: 58vh;
    position:absolute;
}

.theGameplay{
    width:60vw;
    height:56vh;
    margin-left: 18vw;
    top: 15vh;
    position: absolute;
    visibility:hidden;/*hidden by default*/
}

#card1{
    margin-left: 8vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card2{
    margin-left: 17vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card3{
    margin-left: 26vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card4{
    margin-left: 35vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card5{
    margin-left: 44vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}

#card6{
    margin-left: 8vw;
    top: 60vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}

#card7{
    margin-left: 17vw;
    top: 60vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}

#seatTaken1{
    margin-left: -10vw;
    top: 20vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken2{
    margin-left: 0vw;
    top: -4vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken3{
    margin-left: 25vw;
    top: -12vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken4{
    margin-left: 50vw;
    top: -4vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken5{
    margin-left: 60vw;
    top: 20vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken6{
    margin-left: 27vw;
    top: 58vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}


.console{
   
    margin-left:5vw;
    top: 5vh;
    width:90vw;
    height:90vh;
    position: absolute;
    visibility:hidden;/*visible by default*/ 
}

#playerName1{
    position: absolute;
    width:5vw;
    top: 38vh;
    left: 5.4vw;
}

#playerName2{
    position: absolute;
    width:5vw;
    top: 13.5vh;
    left: 15.5vw;
}


#playerName3{
    position: absolute;
    width:5vw;
    top: 6vh;
    left: 40.5vw;
}

#playerName4{
    position: absolute;
    width:5vw;
    top: 13.5vh;
    left: 65.5vw;
}

#playerName5{
    position: absolute;
    width:5vw;
    top: 38vh;
    left: 75.5vw;
}

#playerName6{
    position: absolute;
    width:5vw;
    top: 76vh;
    left: 42.5vw;
}

#totalChips1{
    position: absolute;
    width:10vw;
    top: 26vh;
    left: 2.4vw;
}

#totalChips2{
    position: absolute;
    width:10vw;
    top: 1.5vh;
    left: 12.5vw;
}


#totalChips3{
    position: absolute;
    width:10vw;
    top: -6vh;
    left: 37.5vw;
}

#totalChips4{
    position: absolute;
    width:10vw;
    top: 1.5vh;
    left: 62.5vw;
}

#totalChips5{
    position: absolute;
    width:10vw;
    top: 26vh;
    left: 72.5vw;
}

#totalChips6{
    position: absolute;
    width:10vw;
    top: 64vh;
    left: 39.5vw;
}

#bets1{
    position: absolute;
    width:10vw;
    top: 44vh;
    left: 2.4vw;
}

#bets2{
    position: absolute;
    width:10vw;
    top: 19.5vh;
    left: 12.5vw;
}


#bets3{
    position: absolute;
    width:10vw;
    top: 12vh;
    left: 37.5vw;
}

#bets4{
    position: absolute;
    width:10vw;
    top: 19.5vh;
    left: 62.5vw;
}

#bets5{
    position: absolute;
    width:10vw;
    top: 44vh;
    left: 72.5vw;
}

#bets6{
    position: absolute;
    width:10vw;
    top: 82vh;
    left: 39.5vw;
}

#totalPot{
    position: absolute;
    width:12vw;
    top: 50vh;
    left: 38.5vw;
}
.theBetting{
   
    margin-left:60vw;
    top: 80vh;
    width:30vw;
    height:10vh;
    position: absolute;
    visibility:hidden;/*hidden by default*/    
}
#foldButton{
    margin-left: 2vw;
    top:0;
}

#checkButton{
    margin-left: 0vw;
    top:0;
}

#raiseButton{
    margin-left: 2vw;
    top:0;
}
#callButton{
    margin-left: 2vw;
    top:0;
}
#raise{
    width:5vw;
    margin-left: 2vw;
    top:0;
}

.winScreen{
   
    margin-left:20vw;
    top: 20vh;
    width:20vw;
    height:20vh;
    position: absolute;
    visibility:hidden;/*hidden by default*/    
}

