body {
    background-image: url("background1.png");
    background-repeat: no-repeat;
    background-size: 100% 150vh;
    position: fixed;
    width: 200vw;
    height: 150vh;

}

div {
    color: navy;
    /*margin-left: 20px;*/
}

.login{
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif , sans-serif;
    font-size: 2.8vh;
    font-weight: bold;
    color: black;
    visibility: visible;/*visiblr by default*/
    position: absolute;
    top: 58vh;
    width: 40vw;
    height: 30vh;
    margin-left: 33vw;
}
#myUsername{
    margin-left: 1vw;
    width: 21vw;
    height: 2.7vh;
}

#myPassword{
    margin-left: 2.6vw;
    width: 21vw;
    height: 2.7vh;
}

#loginBtn{
    margin-left: 15vw;
    width: 9vw;
    height: 4vh;
}

.joinTable{
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif , sans-serif;
    font-size: 2.8vh;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 58vh;
    width: 40vw;
    height: 30vh;
    margin-left: 33vw;
    visibility: hidden;/*hidden by default*/
}

#chipsBtn{
    margin-left: 2.6vw;
    width: 21vw;
    height: 3.2vh;
}
#statsBtn{
    margin-left: 2.6vw;
    width: 21vw;
    height: 3.2vh;
}

#joinBtn{
    margin-left: 2.6vw;
    width: 21vw;
    height: 3.2vh;
}

#userNameLabel{
    margin-left: 0vw;
}

#userNameLabel2{
    margin-left: 0vw;
}



.theTable{
   
    margin-left: 18vw;
    top: 15vh;
    position: absolute;
    visibility:hidden;/*hidden by default*/
    
}

#seat1{
    margin-left: -10vw;
    top: 20vh;
    position:absolute;
}
#seat2{
    margin-left: 0vw;
    top: -4vh;
    position:absolute;
}
#seat3{
    margin-left: 25vw;
    top: -12vh;
    position:absolute;
}
#seat4{
    margin-left: 50vw;
    top: -4vh;
    position:absolute;
}
#seat5{
    margin-left: 60vw;
    top: 20vh;
    position:absolute;
}
#seat6{
    margin-left: 27vw;
    top: 58vh;
    position:absolute;
}

.theStats{
     font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif , sans-serif;
    font-size: 2.8vh;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 68vh;
    width: 80vw;
    height: 15vh;
    margin-left: 16vw;
    visibility: hidden;/*hidden by default*/
    border: blue dashed 1px;
}

#exitButton2{
    position: absolute;
    height: 5vh;
    width:15vw;
    margin-left: 0vw;
    top:5vh;
}

.theGameplay{
    width:60vw;
    height:56vh;
    margin-left: 18vw;
    top: 15vh;
    position: absolute;
    visibility:hidden;/*hidden by default*/
}

#card1{
    margin-left: 8vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card2{
    margin-left: 17vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card3{
    margin-left: 26vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card4{
    margin-left: 35vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card5{
    margin-left: 44vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}

#card6{
    margin-left: 8vw;
    top: 60vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}

#card7{
    margin-left: 17vw;
    top: 60vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}

#seatTaken1{
    margin-left: -10vw;
    top: 20vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken2{
    margin-left: 0vw;
    top: -4vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken3{
    margin-left: 25vw;
    top: -12vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken4{
    margin-left: 50vw;
    top: -4vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken5{
    margin-left: 60vw;
    top: 20vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken6{
    margin-left: 27vw;
    top: 58vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}


.console{
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif , sans-serif;
    font-size: 2.8vh;
    font-weight: bold;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    margin-left:5vw;
    top: 5vh;
    width:90vw;
    height:90vh;
    position: absolute;
    visibility:hidden;/*visible by default*/ 
}

#playerName1{
    position: absolute;
    width:5vw;
    top: 38vh;
    left: 5.4vw;
}

#playerName2{
    position: absolute;
    width:5vw;
    top: 13.5vh;
    left: 15.5vw;
}


#playerName3{
    position: absolute;
    width:5vw;
    top: 6vh;
    left: 40.5vw;
}

#playerName4{
    position: absolute;
    width:5vw;
    top: 13.5vh;
    left: 65.5vw;
}

#playerName5{
    position: absolute;
    width:5vw;
    top: 38vh;
    left: 75.5vw;
}

#playerName6{
    position: absolute;
    width:5vw;
    top: 76vh;
    left: 42.5vw;
}

#totalChips1{
    position: absolute;
    width:15vw;
    top: 26vh;
    left: 2.4vw;
}

#totalChips2{
    position: absolute;
    width:15vw;
    top: 1.5vh;
    left: 12.5vw;
}


#totalChips3{
    position: absolute;
    width:15vw;
    top: -6vh;
    left: 37.5vw;
}

#totalChips4{
    position: absolute;
    width:15vw;
    top: 1.5vh;
    left: 62.5vw;
}

#totalChips5{
    position: absolute;
    width:15vw;
    top: 26vh;
    left: 72.5vw;
}

#totalChips6{
    position: absolute;
    width:15vw;
    top: 64vh;
    left: 39.5vw;
}

#bets1{
    position: absolute;
    width:10vw;
    top: 44vh;
    left: 2.4vw;
}

#bets2{
    position: absolute;
    width:10vw;
    top: 19.5vh;
    left: 12.5vw;
}


#bets3{
    position: absolute;
    width:10vw;
    top: 12vh;
    left: 37.5vw;
}

#bets4{
    position: absolute;
    width:10vw;
    top: 19.5vh;
    left: 62.5vw;
}

#bets5{
    position: absolute;
    width:10vw;
    top: 44vh;
    left: 72.5vw;
}

#bets6{
    position: absolute;
    width:10vw;
    top: 82vh;
    left: 39.5vw;
}

#totalPot{
    position: absolute;
    width:12vw;
    top: 50vh;
    left: 38.5vw;
}
.theBetting{
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif , sans-serif;
    font-size: 2.8vh;
    margin-left:60vw;
    top: 80vh;
    width:30vw;
    height:10vh;
    position: absolute;
    visibility:hidden;/*hidden by default*/    
    border: solid blue 2px;
}
#foldButton{
    height: 4vh;
    width:7vw;
    top:0;
}

#checkButton{
    height: 4vh;
    width:7vw;
    margin-left: 0vw;
    top:0;
}

#raiseButton{
    height: 4vh;
    width:7vw;
    margin-left: 2vw;
    top:0;
}
#callButton{
    height: 4vh;
    width:7vw;
    margin-left: 2vw;
    top:0;
}
#raise{
    height: 4vh;
    width:7vw;
    margin-left: 2vw;
    top:0;
}

.winScreen{
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif , sans-serif;
    font-size: 3.4vh;
    font-weight: bold;
    margin-left:20vw;
    top: 60vh;
    width:60vw;
    height:30vh;
    position: absolute;
    visibility:hidden;/*hidden by default*/    
  
}
#exitButton{
    position: absolute;
    height: 7vh;
    width:15vw;
    margin-left: 0vw;
    top:10vh;
}


