body {
    background-color: lightblue;
    position: fixed;
    width: 200vw;
    height: 150vh;

}

div {
    color: navy;
    /*margin-left: 20px;*/
}

.login{
    visibility: visible;/*visiblr by default*/
}

.joinTable{
    visibility: hidden;/*hidden by default*/
}

.theTable{
   
    margin-left: 18vw;
    top: 15vh;
    position: absolute;
    visibility:hidden;/*hidden by default*/
    
}

#seat1{
    margin-left: -10vw;
    top: 20vh;
    position:absolute;
}
#seat2{
    margin-left: 0vw;
    top: -4vh;
    position:absolute;
}
#seat3{
    margin-left: 25vw;
    top: -12vh;
    position:absolute;
}
#seat4{
    margin-left: 50vw;
    top: -4vh;
    position:absolute;
}
#seat5{
    margin-left: 60vw;
    top: 20vh;
    position:absolute;
}
#seat6{
    margin-left: 27vw;
    top: 58vh;
    position:absolute;
}

.theGameplay{
    width:60vw;
    height:56vh;
    margin-left: 18vw;
    top: 15vh;
    position: absolute;
    visibility:hidden;/*hidden by default*/
}

#card1{
    margin-left: 8vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card2{
    margin-left: 17vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card3{
    margin-left: 26vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card4{
    margin-left: 35vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#card5{
    margin-left: 44vw;
    top: 19vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}

#card6{
    margin-left: 8vw;
    top: 60vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}

#card7{
    margin-left: 17vw;
    top: 60vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}

#seatTaken1{
    margin-left: -10vw;
    top: 20vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken2{
    margin-left: 0vw;
    top: -4vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken3{
    margin-left: 25vw;
    top: -12vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken4{
    margin-left: 50vw;
    top: -4vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken5{
    margin-left: 60vw;
    top: 20vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}
#seatTaken6{
    margin-left: 27vw;
    top: 58vh;
    position:absolute;
    visibility:hidden;/*hidden by default*/
}

.theBetting{
   
    margin-left:60vw;
    top: 80vh;
    width:30vw;
    height:10vh;
    position: absolute;
    visibility:hidden;/*hidden by default*/
    border: dashed black 2px;
    
}
#foldButton{
    margin-left: 2vw;
    top:0;
}

#checkButton{
    margin-left: 0vw;
    top:0;
}

#raiseButton{
    margin-left: 2vw;
    top:0;
}
#callButton{
    margin-left: 2vw;
    top:0;
}

